name: Release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        default: 'X.X.X'
        required: true
      release_branch:
        description: 'Release branch'
        default: 'main'
        required: true
      publish_library:
        description: 'Publish library'
        default: 'Y'
        required: true
      publish_gradle_plugin:
        description: 'Publish Gradle Plugin'
        default: 'Y'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.event.inputs.release_branch }}

      - name: Setup Java
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          java-version: 1.8
          distribution: 'adopt'

      - name: Gradle cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.gradle
          key: gradle

      - name: Set up GPG
        run: |
          echo ${{ github.workspace }}
          # gpg init
          mkdir ~/.gnupg && echo use-agent >> ~/.gnupg/gpg.conf
          echo pinentry-mode loopback >> ~/.gnupg/gpg.conf
          echo allow-loopback-pinentry >> ~/.gnupg/gpg-agent.conf
          echo RELOADAGENT | gpg-connect-agent
          echo ${SIGNING_KEY} | awk '{gsub(/\\n/,"\n")}1'| gpg --dearmor > ${{ github.workspace }}/secretKeyRingFile.gpg
          gpg --import  --pinentry-mode loopback --batch --passphrase '${SIGNING_PASSWORD}' ${{ github.workspace }}/secretKeyRingFile.gpg
          ls -al ${{ github.workspace }}
          ls -al ~/.gnupg/
        env:
          SIGNING_KEY: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          SIGNING_PASSWORD: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}

      - name: Configure Git
        run: |
          git config --global user.name 'Bogdan Kobylynskyi'
          git config --global user.email 'kobylynskyi@users.noreply.github.com'

      - name: Update versions of all Gradle/SBT sub-projects
        run: scripts/update-release-version-in-build-files.sh ${{ github.event.inputs.release_version }}

      - name: Update versions in all README files
        run: scripts/update-release-version-in-readme.sh ${{ github.event.inputs.release_version }}

      #
      # VERSIONS UPDATED
      # NOW WE ARE READY FOR THE FINAL BUILD
      #

      - name: Build library
        run: ./gradlew build publishToMavenLocal --warning-mode all

      - name: Build gradle plugin
        run: ./gradlew -p plugins/gradle/graphql-java-codegen-gradle-plugin build publishToMavenLocal --warning-mode all

      - name: Build gradle example-server
        if: github.event.inputs.publish_gradle_plugin == 'Y'
        run: ./gradlew -p plugins/gradle/example-server test --warning-mode all

      - name: Build gradle example-client
        if: github.event.inputs.publish_gradle_plugin == 'Y'
        run: ./gradlew -p plugins/gradle/example-client test --warning-mode all

      - name: Build gradle example-client-kotlin
        if: github.event.inputs.publish_gradle_plugin == 'Y'
        run: ./gradlew -p plugins/gradle/example-client-kotlin build --warning-mode all


      #
      # BUILD OF RELEASE VERSION COMPLETED
      # SO WE CAN COMMIT THEM
      #

      - name: Commit release version
        run: git commit -am "Bump version to ${{ github.event.inputs.release_version }}"

      #
      # VERSIONS ARE IN THE RELEASE STATE AND READY TO PUBLISH
      #

      - name: Release library
        if: github.event.inputs.publish_library == 'Y'
        run: |
          ./gradlew publish \
                -Dorg.gradle.internal.publish.checksums.insecure=true \
                -PsonatypeUsername=${{ secrets.OSSRH_USERNAME }} \
                -PsonatypePassword=${{ secrets.OSSRH_PASSWORD }} \
                -Psigning.keyId=${{ secrets.OSSRH_GPG_SECRET_KEY_ID }} \
                -Psigning.password=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} \
                -Psigning.secretKeyRingFile=${{ github.workspace }}/secretKeyRingFile.gpg

      - name: Release Gradle plugin
        if: github.event.inputs.publish_gradle_plugin == 'Y'
        run: |
          ./gradlew -p plugins/gradle/graphql-java-codegen-gradle-plugin publishPlugins \
              -Dorg.gradle.internal.publish.checksums.insecure=true \
              -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY}} \
              -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}


      #
      # PUBLISH OF RELEASE VERSION COMPLETED
      # NOW PUSHING THE RELEASE VERSION BACK TO THE REPOSITORY
      #

      - name: Push release version
        run: |
          git push
          git push --tags
